extends layout

block content
  h1 Register
  form(method="POST" action="/register")
    div
      label Email:
      input(type="email" name="email" required)
    div
      label Password:
      input(type="password" name="password" required minlength="15")
    div
      label Role:
      select(name="role" required)
        option(value="user") User
        option(value="admin") Admin
      
    button(type="submit") Create Account
  p
    a(href="/login") Already have an account? Login here.